__ARGUS_DOMAIN__ {
	encode zstd gzip
	basic_auth {
		__BASIC_AUTH_USER__ __BASIC_AUTH_HASH__
	}
	reverse_proxy web:3000
}

__ARGUS_CONTENT_DOMAIN__ {
	encode zstd gzip

	@public path /public/*
	handle @public {
		reverse_proxy content:3000
	}

	handle {
		basic_auth {
			__BASIC_AUTH_USER__ __BASIC_AUTH_HASH__
		}
		reverse_proxy content:3000
	}
}

__ARGUS_NODE_DOMAIN__ {
	encode zstd gzip

	@agent path /enrollment/complete /agent/*
	handle @agent {
		reverse_proxy control-api:8080
	}

	handle {
		respond "Not Found" 404
	}
}
